<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.spielpark.steve.cipherhelper" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <uses-sdk android:minSdkVersion="11"/>
        <activity
            android:name=".WelcomePage"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CipherActivity"
            android:label="@string/title_activity_cipher"
            android:parentActivityName=".WelcomePage" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.spielpark.steve.cipherhelper.WelcomePage" />
        </activity>
    </application>

</manifest>
